.adminContainer .adminWrap {
  width: 1200px;
  height: 800px;
  background-color: #7a8492;
  position: absolute;
  left: 15%;
  top: 5%;
}

.adminContainer .adminLeftMenu {
    left: 0;
    display: block;
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-y: auto;
}

.CreateItemWrap .createFormSelect {
  margin-top: 20px;
}