.adminContainer {
  transition: all ease-in-out .3s;
  height: 900px;
  width: 500px;
  background-color: black;
}

.adminContainer .MenuBtn {
  left:0;
  top:0;
  transition-property: left;
  transition-duration: 0.4s;
  position: absolute;
}

.adminContainer .MenuBtn.active {
  left: -200px;
}

.sidebarContent {
  margin-top: 20px;
}

.sidebarContent .title {
  background-color: #202020;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
}

.sidebarContent .tabAccordion {
  transition-duration: .25s;
  overflow: hidden;
}

.sidebarContent .tabAccordion .content {
  padding-left: 1rem !important;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  transition-duration: .2s;
}

.sidebarContent .tabAccordion .content.active {
  background-color: gray;
}